<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Kessinger - Perfil</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body style="background-color: #0D47A1">

<!--/*/ <th:block th:include="fragments/header"></th:block> /*/-->

<div id="particles"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 toppad" >
            <div class="panel panel-info">
                <div style="background-color:white;" class="panel-heading">
                    <h3 class="panel-title" th:text="${usuario.nome}"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <form th:action="@{/user/perfil}" method="POST" enctype="multipart/form-data">
                                <img style="width:300px;height:300px;" alt="User Pic" th:src="@{${files} == null ?  '/img/nouser.jpg' : ${caminho} + '/files/' + ${files}}" class="img-thumbnail"/>
                                <div class="file-field input-field">
                                    <div class="btn pad">
                                        <span>Selecionar Imagem</span>
                                        <input type="file" accept="*" name="file"/>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text"/>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <input class="btn text-center" type="submit" name="enviar" value="Upload"/>
                            </form>
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <span><h3>Sobre mim</h3></span>
                            <div class="row">
                                <div class="row">
                                    <form>
                                        <div class="input-field col s12">
                                            <textarea style="color: #37474f" readonly="readonly" id="textarea1" class="materialize-textarea" th:text="${usuario.bio}"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <span><h3>Informações pessoais</h3></span>
                            <table class="table highlight table-user-information">
                                <tbody>
                                <tr>
                                    <td>Data de nascimento:</td>
                                    <td th:text="${#dates.format(usuario.nascimento, 'dd/MM/yyyy')}"></td>
                                </tr>
                                <tr>
                                    <td>Endereço:</td>
                                    <td th:text="${usuario.endereco}"></td>
                                </tr>
                                <tr>
                                    <td>Número:</td>
                                    <td th:text="${usuario.numero}"></td>
                                </tr>
                                <tr>
                                    <td>CEP:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Titulação:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Área(s) de estudo(s):</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CPF:</td>
                                    <td th:text="${usuario.cpf}"></td>
                                </tr>
                                <tr>
                                    <td>Nacionalidade:</td>
                                    <td th:text="${usuario.pais.pais}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a th:href="@{'/user/' + ${usuario.id} }" type="button" class="btn btn-sm blue">Alterar dados</a>
                    <a href="#" type="button" class="btn btn-sm red">Inativar conta</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:src="@{/js/particles.js}"></script>
<script th:src="@{/js/particulas.js}"></script>

</body>
</html>