
.pad{
    padding-left: 50px;
}

.r-pad{
    padding-right: 50px;
}

#particles {
    position: absolute;
    left: 0;
    top: 0;
}

#particles, #start {
    height: 100vh;
    width: 100vw;
    display: table;
    table-layout: fixed;
}

.big-pad{
    padding-left: 200px;
}

.aumenta-div{
    min-height: 1400px;
}
.img-responsive {
    margin: 0 auto;
}

.logo {
    opacity: 0;
    position: relative;

}

.fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fills * {
    opacity: 0;
    mix-blend-mode: lighten;
}

#line-i {
    transform-origin: 30em 8em;
}

body.ready .logo {
    opacity: 1;
}

body:not(.iOS) #lines * {
    mix-blend-mode: lighten;
}

#particles-js, #start {
    height: 115vh;
    width: 99vw;
    display: table;
    table-layout: auto;
    position: absolute;
    left: 0;
    top: 0;
}
